[submodule "backend"]
	path = backend
	url = https://github.com/zachatkinson/csfrace-scrape-back.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/zachatkinson/csfrace-scrape-front.git
